 
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; bottom:10px; position: fixed; margin: auto; width: 100%; }
form input { border: 0; padding: 15px; width: 80%; margin-right: .5%; }
form button { width: 15%; background: rgb(130, 224, 255); border: none; padding: 15px; }
#messages { width: 60%; list-style-type: none; margin: 0; padding: 10px; }
#messages li { padding: 5px 10px; font-size: 15px; }
#messages li:nth-child(odd) { background: #eee; }
#messages { margin-bottom: 40px }
#username { 
  
 
padding: 20px;
background: #ff0036;
font-size: 20px;
color: white; 
width: 100%;
}
 

/*#online{
position: fixed;
right: 5px;
top: 200px;
width: 30%;
height: 60%;
border: solid 1px #ff0036;
}
 */